.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.app-container {
    margin: 3vh auto;
    display: flex;
    max-width: 860px;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 90vh;
}

.add-todo-container {
  display: flex;
}

.add-todo-container input {
  border: 0;
  border-bottom: 1px rgba(6,6,6, 0.2) solid;
  width: 400px;
  line-height: 30px;
  font-size: 24px;
  color: rgb(138, 148, 162);
  text-align: center;
  margin-right: 2px;
  font-weight: lighter;      
}

.todo-list {
  max-height: 70vh;
  overflow: auto;
  min-width: 200px;
}

.todo {
  display: flex;
  align-items: center;
  box-shadow: 1 1 1 black;
}

.todo input {
  margin-right: 10px;  
}

.todo h4 {
  font-weight: lighter;        
}

.footer button {
  background: #a3e8ff;
  border: 0;
  padding: 10px 5px;
  margin: 3px;
  border-radius: 5px;
}

.footer button:hover {
  background: #38c5f5;
}